/* Mise en place */

@font-face {
    font-family: 'LexendDeca';
    src: url('Polices/1/LexendDeca-Regular.ttf');
}

@font-face {
    font-family: 'BigShouldersDisplay';
    src: url('Polices/2/BigShouldersDisplay-Regular.ttf');
}

/* pour toute la page */

.tout{
    background-color: hsl(0, 0%, 95%);
    padding: 50px;
}

h1{
    color: hsl(0, 0%, 95%);
    font-weight: 700;
    font-family: 'BigShouldersDisplay';
    letter-spacing: 2px;
}

p{
    font-family: 'LexendDeca';
    font-size: 15px;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 25px;
}

.boutons{
    padding-top: 100px;
}

/* pour chaque type de voitures */

.jaune{
    float: left;
    height: 400px;
    width: 210px;
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px ;
    border-bottom-left-radius: 10px;
    padding: 50px;
}

.boutonsedans{
    padding: 10px 35px;
    background-color: white;
    text-decoration: none;
    border-radius: 20px;
    color: hsl(31, 77%, 52%);
    border: 1px solid white;
}

.boutonsedans:hover{
    background-color: hsl(31, 77%, 52%);
    color: white;
}

.bleu{
    float: left;
    height: 400px;
    width: 210px;
    background-color: hsl(184, 100%, 22%);
    padding: 50px;
}

.boutonsuvs{
    padding: 10px 35px;
    background-color: white;
    text-decoration: none;
    border-radius: 20px;
    color: hsl(184, 100%, 22%);
    border: 1px solid white;
}

.boutonsuvs:hover{
    background-color: hsl(184, 100%, 22%);
    color: white;
}

.vert{
    float: left;
    height: 400px;
    width: 210px;
    background-color: hsl(179, 100%, 13%);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 50px;
}

.boutonluxury{
    padding: 10px 35px;
    background-color: white;
    text-decoration: none;
    border-radius: 20px;
    color: hsl(179, 100%, 13%);
    border: 1px solid white;
}

.boutonluxury:hover{
    background-color: hsl(179, 100%, 13%);
    color: white;
}